{% extends 'base.html.twig' %}

{% block body %}
    <h1>Institucion edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-default" type="submit" value="Guardar" />
    {{ form_end(edit_form) }}

    <a class="btn btn-default"  href="{{ path('institucion_index') }}">Volver</a>
        
    {{ form_start(delete_form) }}
        <input class="btn btn-default"  type="submit" value="Borrar">
    {{ form_end(delete_form) }}
{% endblock %}
