{% extends 'base.html.twig' %}

{% block body %}
    <h1>Institucions list</h1>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Direccion</th>
                <th>Htmlpresentacion</th>
                <th>Logo</th>
                <th>Horario</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for institucion in institucions %}
            <tr>
                <td><a href="{{ path('institucion_show', { 'id': institucion.id }) }}">{{ institucion.nombre }}</a></td>
                <td>{{ institucion.descripcion }}</td>
                <td>{{ institucion.direccion }}</td>
                <td>{{ institucion.htmlpresentacion }}</td>
                <td>{{ institucion.logo }}</td>
                <td>{{ institucion.horario }}</td>
                <td>{{ institucion.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('institucion_show', { 'id': institucion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('institucion_edit', { 'id': institucion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('institucion_new') }}">Create a new institucion</a>
        </li>
    </ul>
{% endblock %}
